<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
    <!-- 'public' directory invisible to client.  Served by the 'express.static' JS command -->
    <header><img src="/img/logo.png" alt="Meadowlawk Travel Logo"></header>
    {{{body}}}
</body>
</html>
